
/* Add new User */

.main__header-text {
    color: var(--primary-color);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.buttons__header{
    display: flex;
    justify-content: space-evenly;
    height: 4rem;

}

.add-user__btn {
    display: block;
    width: 14rem;
    line-height: 4rem;
}

.add-user__btn:hover{
    color: var(--dark-secondary-color);
    border-bottom: 4px solid var(--dark-primary-color);
    cursor:pointer;
}

.form-body {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    min-height: 80vh;
    
    border-radius: 5px;
}

.registration-wrapper {    
    width: 80%;
}
.personal-data__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-data{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.input-data h2{
    line-height: 3rem;
    color: var(--dark-primary-color);
    margin-bottom: 3rem;
}
.personal-data {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    align-items: center;
}
/*
.input-box__personal-data label {
    color: var(--dark-secondary-color);
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
    text-align: left;
    font-size: 0.9rem;
    height: 3rem;
}
    */
.input-box__personal-data {

    width: 42%;

}
.input-box__personal-data input {
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--dark-secondary-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--dark-primary-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 10px;
    height: 4rem;
}
.input-box__personal-data input::placeholder {
    color: var(--dark-secondary-color);
    
}
.input-box__personal-data input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 4px 6px -4px rgba(219, 137, 83, 0.4);
}
#user_role{
    padding-left: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--dark-primary-color);
    margin-top: 1rem;
    width: 100%;
    height: 3.2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--dark-secondary-color);
}
.cards {
    display: flex;
    flex-direction: row;
}
/* User Detail card (userDetail.html) */
.card-datas h2 {
    color: #C2703F;
}
.cards__column{
    width: 50%;
}
.card-details{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-outline {
    display: flex;
    justify-content: center;
}
.card-datas{
    text-align: center;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid var(--dark-primary-color);
    border-radius: 10px;
}
.card-datas p{
    color: var(--dark-secondary-color)
}
.card-datas h2 {
    margin-top: 10px;
}
.card-details__centered{
    width: 60%;
    height: 100%;
}

.card-deails-alldata{
    height: 100%;
    background-color: transparent;
    color: var(--dark-primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--dark-primary-color);
    border-radius: 10px;
}
.card-deails-alldata p {
    color: var(--dark-secondary-color);
}

.card-datas__btn {
    display: block;
    margin: 1rem 1rem;
}

.card-datas__btn:hover {
    color: var(--dark-secondary-color);
    cursor: pointer;
}
.upd_del{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.upd_del__btn:hover {
   color: var(--dark-secondary-color);
   cursor: pointer;
}
/* Media Querries */


/* Small Laptop */
@media (max-width: 992px) {
  .navbar__container {
    justify-content: center;
    padding-top: 16px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .navbar__container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
/* Mobil */
@media (max-width: 576px) {

}