/* Logo Styleing */

.navbar__logo-text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 800;
    letter-spacing: 2px;
}
.car, .trade {
  font-size: 3rem;
  font-weight: 700;
}
.car {
    margin-right: -4px;
    color: var(--primary-color);
}
.rent {
  font-size: 2rem;
  font-weight: 600;
}
.and {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: -1px;
}
.trade {
    margin-left: -11px;
    color: var(--primary-color);
}
.rade {
    margin-left: -10px;
}