input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--dark-primary-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #db8953;
    --dark-primary-color:#C2703F;
    --secondary-color: #18E9F5;
    --dark-secondary-color:#0FB8C9;
    --background-color:#101918;
}

.secondary {
    color: var(--secondary-color);
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    background-image: url('./assets/pexels-mb-productions-2150595454-31223311.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Utilities */

.btn {
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--dark-primary-color);
    font-weight: 500;        
    font-size: 1rem;        
    letter-spacing: 0.5px;
}

.container {
    margin: auto ;
    max-width: 1400px;
}

.hidden {
    display:none
}

.submit {
    margin-top: 5rem;
    width: 12%;
}

.disabled {
    display: none !important;
}
.hint {
    color: var(--dark-primary-color);
    text-align: center;
    margin-top: 200px;
    font-size: 2.5rem;
    background-color: none;
}

.overlay {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100vh;
} 

.fas {
    color: var(--dark-secondary-color);
    font-size: 1.5rem;
}
.fas.user-management {
    color: var(--dark-primary-color);
}
.fas.user-management:hover {
    color: var(--dark-secondary-color);
    cursor: pointer;
}
/* Navbar styling*/
.navbar-subnavigation,
.navbar {
    padding: 1rem 2rem;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    top: 0;
    position: sticky;
    
}
.navbar__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    height: 3rem;
}

.navbar__menu-item {
    display: block;
    text-align: center;
    font-size: 1.3rem;
}

.navbar__menu-link{
    color: var(--dark-primary-color);
}
.navbar__menu-link.active,
.navbar__menu-link:hover {
    color: var(--dark-secondary-color);
    border-bottom: 2px solid var(--dark-primary-color);
    cursor:pointer;
    padding-top: 2px;
    border-radius: 0px;
}
.navbar__menu-link{
    color: var(--dark-primary-color);
}

.navbar__headline-text{
    color: var(--dark-primary-color);
    padding-left: 5rem;
}

.navbar__logout-btn {
    background-color: var(--dark-primary-color);
    padding: 4px;
    border-radius: 3px;
    border: none;
    width: 5rem;
}
.navbar__logout-btn:hover {
    background-color: var(--dark-secondary-color);
    cursor: pointer;
}

/* Mobile Menu */

.navbar__mobile-menu {
    display: none;
    cursor: pointer;
}

.navbar__mobile-menu-items {
    position: absolute;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.8;
    top:100%;
    left: 0;
    width: 100%;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255,255,255, 0.1);
    border-top: 1px solid rgba(255,255,255, 0.1);
    transform: translateX(100%);
}
.navbar__mobile-menu-items.active {
    transform: translateX(0%);
}


.navbar__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
}

.navbar__mobile-menu-link {
    color: var(--dark-primary-color);
}
.navbar__mobile-menu-link:hover {
    color: var(--dark-secondary-color);
}

/* Logo Styleing */

.navbar__logo-text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 800;
    letter-spacing: 2px;
}
.car, .trade {
  font-size: 3rem;
  font-weight: 700;
}
.car {
    margin-right: -4px;
    color: var(--primary-color);
}
.rent {
  font-size: 2rem;
  font-weight: 600;
}
.and {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: -1px;
}
.trade {
    margin-left: -11px;
    color: var(--primary-color);
}
.rade {
    margin-left: -10px;
}

/* Content Styling */

/* Card */

.card-container {
    display: flex;
    flex-wrap: wrap;
    border: #0FB8C9;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80%;
    width: 100%;
}


.card {
    width: 30%;
    background-color:var(--background-color);
    border: 1px solid var(--dark-secondary-color);
    border-radius: 10px;
    margin: 1rem;
}

.card p {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    color: var(--dark-primary-color);
}
.card-name{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* User detail card */
.card-detail {
    margin-top: 5rem;
    color: var(--dark-secondary-color);
    border: none;
    width: 28rem;
    height: 65vh;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}
.card-detail__header h2{
    font-weight: 500;
    font-size: 2rem;
    display: block;
    color: var(--dark-primary-color);
    width: 100%;
    text-align: left;
    padding: 1rem 1rem
}

.card-detail__data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-detail__data-item {
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--dark-primary-color);
}
.card-detail__data-item h4{
    font-weight: 400;
    font-size: 0.9rem;
}
.card-detail__data-text{
    color: var(--dark-primary-color);
}
.card-detail__btn {
    border-bottom: 2px solid var(--dark-primary-color);
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    color: #101918;
    width: 10rem;
    height: 2rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.card-detail__btn p {
    font-weight: 400;
    color: var(--dark-secondary-color);
    padding: 0px;
}
.card-detail__btn p:hover {
    font-weight: 400;
    color: var(--dark-primary-color);
    padding: 0px;
}
.card-detail__btn:hover {
   border-bottom: 2px solid var(--dark-secondary-color);
}

/* Add New User */
.user-form {
    margin: auto;
    margin-top: 2rem;
    max-width: 1000px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem 1.9rem;
    border-radius: 5px;
}
.user-form__title {
    color: var(--dark-primary-color);
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}

.form__headline {
    margin-top: 16px;
    font-size: 1.2rem;
}
.form__user-details {
    display: flex;
    flex-direction: row;
    color: var(--dark-primary-color);
    justify-content: space-between;
    margin: 20px 0 12px 0;
    gap: 1rem;
}
.form__user-data {
    width: 33%;
}
.form__input-box {
    margin-bottom: 1rem;
    width: calc(100% / 2 -20px);
}
.form__input {
    height: 2.9rem;
    width: 100%;
    outline: none;
    padding-left: 1rem;
    font-size: 1rem;
    color: var(--dark-secondary-color);
    border: none;
    border-bottom: 2px solid var(--dark-primary-color);
    background-color: rgba(0, 0, 0, 0.1);
}
.form__input::placeholder {
    color: var(--dark-secondary-color);
}
.form__details {
    display: inline;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.form__buttons {
    display: flex;
    align-content: space-between;
}
.form__button {
    height: 2.8rem;
    width: 10rem;
    margin: auto;
    border-radius: 0px;
    border-bottom: 2px solid var(--dark-primary-color);
}
.form__button:hover {
    border-bottom: 2px solid var(--dark-secondary-color);
}
.form__button-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--dark-secondary-color);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.form__user-role {
    width: 48.8%;
    height: 2.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 1rem;
    border: none;
    color: var(--dark-secondary-color);
    background-color: rgba(0, 0, 0, 0.1);
}
.form__user-role option {
    background-color: #101918;
}
.form__user-role option:checked {
    background-color: #101918;
}

.form__user-role:hover {
    cursor: pointer;
    color: var(--dark-primary-color);
}

.form__button-input:hover {
    cursor: pointer;
    color: var(--dark-primary-color);
}
.form__span-color {
    color: var(--dark-primary-color);
}

/* Login Form */

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.login-wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2rem 2.5rem;
    margin-top: 3rem;
}
.login-wrapper .login-body__heading {
    font-size: 2rem;
    font-weight: 500;              
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--dark-primary-color);
    opacity: 0.9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.login-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 3.1rem;
    margin: 1.9rem 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    color: var(--dark-primary-color);
    background-color: transparent;
    outline:none;
    border-bottom: 2px solid var(--dark-primary-color);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding: 1.5rem 2.8rem 1.5rem 1.5rem;
}
.input-box input::placeholder {
    color: var(--dark-secondary-color);
}

.login-wrapper .input-box .fa-icon {
    color: var(--dark-secondary-color);
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.login-wrapper .remember-forgot{
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark-primary-color);
    
}
.login-button {
    height: 2.9rem;

    line-height: 2.9rem;
    color: var(--dark-primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5rem;
    margin: auto;
    width: 40%;
}
.login-button:hover {
    color: var(--dark-secondary-color);
    border-bottom: 2px solid var(--dark-primary-color);
}

/* Login Screen */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    opacity: 0.8;
    height: 85vh;
    overflow: hidden;
    flex-direction: column;
}

.main-content__btn {
    margin-top: 1rem;
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    background-color: transparent;
    width: 15rem;
}
.main-content__btn:hover {
    color: var(--dark-secondary-color);
    border-bottom: 4px solid var(--dark-primary-color);
    cursor:pointer;
    padding-top: 4px;
    border-radius: 0px;
}
/* Error Page */

.error {
    color: var(--dark-primary-color);
    font-size: 2rem;
    text-align: center;
    display: block;
}
.error__title {
    font-size: 3rem;
    color: var(--dark-secondary-color);
    text-align: center;
    display: block;
}
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.warning {
    color: #C2703F;
    text-align: center;
}
.warning-red {
    color: var(--background-color);
    text-align: center;
    width: 500px;
    border-radius: 5px;
    margin: auto;
    background-color: var(--dark-primary-color);
    line-height: 2.5rem;
}
/* Media Querries */

@media (max-width: 992px) {
   .form__user-details {
        flex-wrap: wrap;
    }
    .form__user-data {
        width: 40%;
    }
}
@media (max-width: 768px) {

    /* navbar */
    .navbar__menu {
        display: none;
    }    
    .navbar__mobile-menu {
        display: block;
        cursor: pointer;
    }
    /*Login button*/
    .main-content__btn {
        font-size: 3rem;
    }
    .form__user-details {
        flex-direction: column;
    }
}
@media (max-width: 576px) {
    
    /*Login button*/
    .main-content__btn {
        font-size: 2rem;
    }
     .main-content__btn:hover {
        border-bottom: 2px solid var(--dark-primary-color);
        cursor:pointer;
    }

    .form__user-data {
        width: 60%;
    }

    .hint {
        font-size: 1.8rem;
    }
}