
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #db8953;
    --dark-primary-color:#C2703F;
    --secondary-color: #18E9F5;
    --dark-secondary-color:#0FB8C9;
    --background-color:#101918;
}

.secondary {
    color: var(--secondary-color);
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: var(--background-color);
    height: 100vh;
}
header {
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Utilities */

.btn {
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--dark-primary-color);
    font-weight: 500;        
    font-size: 1rem;        
    letter-spacing: 0.5px;
}

.container {
    margin: auto ;
    max-width: 1400px;
}

.hidden {
    display:none;
}

.submit {
    margin-top: 5rem;
    width: 12%;
}

.disabled {
    display: none !important;
}
.hint {
    color: white;
    text-align: center;
    margin-top: 300px;
    font-size: 3rem;
    background-color: #101918;
}

/* Header */

