
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #db8953;
    --dark-primary-color:#C2703F;
    --secondary-color: #18E9F5;
    --dark-secondary-color:#0FB8C9;
    --background-color:#101918;
}

.secondary {
    color: var(--secondary-color);
    opacity: 0.8;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: var(--background-color);
    height: 100vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Utilities */

.btn {
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    color: var(--dark-primary-color);
    font-weight: 500;        
    font-size: 1rem;        
    letter-spacing: 0.5px;
}

.container {
    margin: auto ;
    max-width: 1400px;
}

.hidden {
    display:none;
}

.submit {
    margin-top: 5rem;
    width: 12%;
}

.disabled {
    display: none;
}

/* Header */

.hero {
    display: flex;
    flex-direction: column;
    background-image: url('./assets/pexels-mb-productions-2150595454-31223311.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    
}
.overlay {
    background-color:rgba(0, 0, 0, 0.5);
    height: 100vh;
}

/* Navbar */

.navbar {
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.navbar__container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.navbar__menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}
.navbar__mobile-menu-item a,
.navbar__menu-item a{
    color: var(--dark-primary-color);
}
.navbar__mobile-menu-item a:hover,
.navbar__menu-item a:hover{
    color: var(--dark-secondary-color);
}
.navbar__mobile-menu-items {
    transform: translateX(100%);
}
.navbar__mobile-menu-items.active {
    transform: translateX(0);
}
.fas {
    color: var(--dark-secondary-color);
    font-size: 1.5rem;
    }


/* Mobile Menu */

.navbar__mobile-menu {
    display: none;
    cursor: pointer;
}

.navbar__mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.8;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 700px;
}
.navbar__mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;

}

/* Logo Styleing */

.navbar__logo-text {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    height: 100%;
    align-items: center;
    font-weight: 800;
    letter-spacing: 2px;
}
.car, .trade {
  font-size: 3rem;
  font-weight: 700;
}
.car {
    margin-right: -4px;
    color: var(--primary-color);
}
.rent {
  font-size: 2rem;
  font-weight: 600;
}
.and {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: -1px;
}
.trade {
    margin-left: -11px;
    color: var(--primary-color);
}
.rade {
    margin-left: -10px;
}

/* Main Content 
*/


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    opacity: 0.8;
    height: 85vh;
    overflow: hidden;
    flex-direction: column;
}

.main-content__btn {
    margin-top: 1rem;
    font-size: 4rem;
    text-align: center;
    line-height: 6rem;
    background-color: transparent;
    width: 15rem;
}
.main-content__btn:hover {
    color: var(--dark-secondary-color);
    border-bottom: 4px solid var(--dark-primary-color);
    cursor:pointer;
    padding-top: 4px;
    border-radius: 0px;
}


/* Login form */

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.login-wrapper {
    width: 420px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 2rem 2.5rem;
    margin-top: 3rem;
}
.login-wrapper .login-body__heading {
    font-size: 2rem;
    font-weight: 500;              
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--dark-primary-color);
    opacity: 0.9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.login-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 3.1rem;
    margin: 1.9rem 0px;
}
.input-box input {
    width: 100%;
    height: 100%;
    color: var(--dark-primary-color);
    background-color: transparent;
    outline:none;
    border-bottom: 2px solid var(--dark-primary-color);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding: 1.5rem 2.8rem 1.5rem 1.5rem;
}
.input-box input::placeholder {
    color: var(--dark-secondary-color);
}

.login-wrapper .input-box i {
    color: var(--dark-secondary-color);
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.login-wrapper .remember-forgot{
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark-primary-color);
    
}
.login-button {
    height: 2.9rem;
    line-height: 2.9rem;
    color: var(--dark-primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 1.5rem;
}
.login-button:hover {
    color: var(--dark-secondary-color);
    border-bottom: 2px solid var(--dark-primary-color);
}
/* User Management Page */

.navbar__headline-text{
    color: var(--dark-primary-color);
}
.fas.user-management {
    color: var(--dark-secondary-color);
}
.fas.user-management:hover {
    cursor: pointer;
}
/* Employee Card */



.card-container {
    display: flex;
    flex-wrap: wrap;
    border: #0FB8C9;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 80%;

}


.card {
    width: 25%;
    background-color:var(--background-color);
    border: 1px solid var(--dark-secondary-color);
    border-radius: 10px;
    margin: 0.5rem 0.5rem;;
}

.card p {
    display: block;
    text-align: center;
    font-size: 0.8rem;
    color: var(--dark-primary-color);
}
.card-name{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width:992px) {
    .card-container {
        display: none;
    }
}


/* Tablet */
@media (max-width:768px) {

    .navbar__menu {
        display: none;
    }
    .navbar__mobile-menu {
        display: block;

    }
    .main-content__btn {
        font-size: 3rem;
    }
    .main-content__btn:hover {
    
        border-bottom: 3px solid var(--dark-primary-color);
        cursor:pointer;
    }
    .navbar__mobile-menu.mobile-view {
        display: block;
    }
    
    
}
/* Mobil */
@media (max-width: 576px) {
    
    .main-content__btn {
        font-size: 2rem;
    }
    .main-content__btn:hover {
    
    border-bottom: 2px solid var(--dark-primary-color);
    cursor:pointer;
    }
}

